/*!
 * Pablo Herrero's portfolio | Made with love by Pablo Herrero | pabloherrero.me
 * Copyright 2020 Pablo Herrero | MIT License
 */

 /******* Fonts *******/
@font-face {
  font-family: 'open_sansregular';
  src: url('../css/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../css/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../css/fonts/opensanscondensed-bold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../css/fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open_sansregular';
  letter-spacing: 0.0625em;
}

h1, h2 {
  font-family: 'open_sansregular';
}

/******* Preloader *******/
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1A1A;
  z-index: 999999;
  }

  .title {
    width: 40px;
    height: 40px;
    align-items: center;
    position: relative;
    top: 48%;
  }
  
  .ph {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 1.5s infinite ease-in-out;
    animation: sk-bounce 1.5s infinite ease-in-out;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.5) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(1.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(0.7);
    }
  }

/******* Body *******/
body {
  font-family: 'open_sansregular';
  letter-spacing: normal;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

/******* Nav *******/
#mainNav {
  min-height: 56px;
  background-color: #121212;
  padding: 0 0 0 0;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;

}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 18px;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #000000;
  font-weight: 700;
  padding: .9rem 0;
  margin-left: 18px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .nav-link {
  font-size: 14px;
  transition: none;
  padding: 1rem 1.5rem;
  color:#959FA6;
  background-color: rgba(149, 159, 166, 0.295);
}
#mainNav .nav-link:hover {
  color: #737373;
}
#mainNav .nav-link:active {
  color: #fff;
}

#mainNav.navbar-shrink .nav-link.active {
  color: rgb(255, 255, 255);
  background-color: #959FA6;
  outline: none;
}

#mainNav button {
  cursor: pointer;
  background: none;
  border: none;
}

#theme-toggle {
  border: none;
  outline:none;
  background-color: transparent !important;
}

@media (min-width: 992px) {
  #mainNav{
  background-color: transparent;
  }
  #mainNav .navbar-brand {
    padding: 0.3rem 0.5rem 0.3rem;
    display: none;
    margin-left: 48px;
    background-color: transparent;
  }
  #mainNav .collapse{
    margin-right: 48px;
  }
  #mainNav .nav-link {
    font-size: 18px;
    font-weight: 500;
    transition: none;
    padding: 0.5rem 1.5rem 0.5rem;
    color:transparent;
    margin-left: 25px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
  }
  #mainNav.navbar-shrink {
    background-color: #121212;
    box-shadow: 0px 0px 5px #000000;
  }
  #mainNav.navbar-shrink .navbar-brand {
    display: unset;
    padding: 0.3rem 0.5rem 0.3rem;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #959FA6;
    padding: 0.5rem 0.5rem 0.5rem;
    margin-left: 25px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #fff;
    outline: none;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
  }
}

/******* Masthead *******/
.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  background-color:#212121;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead img{
  text-align: center;
  z-index: 0;
  max-width: 75%;
  display: block;
  margin: auto auto;
  margin-bottom: 23px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 1px #000;
}

.masthead .flex-column {
  align-items: center;
}

.masthead h1 {
  width:100%;
  text-align: center;
  font-family: 'open_sansregular';
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  font-kerning: none;
  line-height: 0.8;
  letter-spacing: 0.05rem;
}

.masthead #nameWrapper{
  width: 100%;
}

.masthead h2 {
  font-family: 'open_sansregular';
  text-align: center;
  text-justify: inter-word;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.01em;
}

@media (min-width: 768px) {
  .masthead #nameWrapper{
    width: 100%;
  }

  .masthead img{
    max-width: 80%;
  }
  .masthead h1 {
    text-align: left;
    font-size: 80px !important; 
    line-height: 6.4rem;
    letter-spacing: 0.05rem;
  }
  .masthead h2 {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0.05rem;
  }
}

@media (min-width: 992px) {
  .masthead #nameWrapper{
    width: 100%;
  }

  .masthead img{
    max-width: 90%;
    margin-bottom: 26px;
  }
  .masthead h1 {
    font-size: 85px;
    line-height: 5.0rem;
    letter-spacing: 0.05rem;
  }
  .masthead h2 {
    font-size: 36px;
    letter-spacing: 0.05em;
    margin-left: 2.5px;
  }
}

 /* Arrow */
 @-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.arrow{
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (min-width: 768px){
  .arrow{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/* /Arrow */

/******* About section *******/
.about-section {
  padding-bottom: 0.66rem;
  height: 80vh;
  width: 100%;
  background-color: #b1b1b1;
}


.about-section h3{
  font-family: "open_sansregular";
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 23px;
}

.about-section .col-sm-4 h3{
  color: #000;
}

.about-section p{
  text-align: left;
  font-size: 16px;
  line-height: 145%;
  color: rgb(0, 0, 0);
  max-width: 100%;
  letter-spacing: normal;
  word-spacing: 2px;
}

@media (min-width: 768px) {
  .about-section {
    padding-bottom: 0.66rem;
    height: 70vh;
    width: 100%;
    background-color: #b1b1b1;
  }
  #intro{
    width: 70%;
  }
  .about-section h3{
    text-align: center;
  }
  .about-section p{
    text-align: center;
    padding-bottom: 23px;
  }

}

@media (min-width: 992px){
  #intro{
    padding-bottom: 0px;
  }
  .about-section h1{
    text-align: left;
    font-size: 60px;
  }
  .about-section h3{
    text-align: left;
    font-size: 35px;
    line-height: 165%;
    letter-spacing: 0.05em;
    margin-bottom: 36px;
  }
  .about-section p{
    text-align: left;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: normal;
    word-spacing: 2px;
  }
}

/******* Portfolio section *******/
.projects-section {
  padding: 23px 0 0.66rem 0;
  height: auto;
  width: 100%;
  background-color: #212121 !important;
}

#portfolio{
  width: 100%;
}

.projects-section h2{
  text-align: left;
  color: #ffffffa2;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 46px !important;
}

.projects-section h3{
  color: #fff;
  font-family: "open_sansregular";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
  letter-spacing: 0.1rem;

}

.projects-section h3:hover{
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}

.projects-section p{
  color: #fff;
  font-family: "open_sansregular";
  font-weight: normal;
  font-size: 16px;
  color: white;
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
  letter-spacing: 0.1rem;
}

.projects-section .flex-column {
  padding-left: 0px;
  padding-right: 0px;
}

.projects-section img{
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-width: 0px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0px 0px 20px 1px #000;
}

.projects-section .container-fluid{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 54px;

}

.img-holder {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000c2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .4s ease;
}

.img-holder:hover .overlay {
  opacity: 1;
}

.projects-section .mx-3{
  color: #fff !important;
  font-size: 14px;
  margin-bottom: 50px;
}

.projects-section .mx-3:hover{
  color: #9c9c9c !important;
  text-decoration: none;
} 

@media (min-width: 768px) {
  .projects-section {
    padding: 23px 0 0.66rem 0;
  }
  #portfolio{
    width: 100%;
  }
  .projects-section .container-fluid{
    padding-bottom: 80px;
  }
  .projects-section img{
    height: 400px !important;
  }
}

@media (min-width: 992px){
  #portfolio{
    width: 100%;
  }
  .projects-section {
    padding: 26px 0 0.66rem 0;
  }
  .projects-section .flex-column{
    margin-top: 0px !important;
  }
  .projects-section h2{
    font-size: 35px;
    letter-spacing: 0.1rem;
    line-height: 100%;
    padding-top: 26px;
    margin-bottom: 52px !important;
  }
  .projects-section h3{
    font-size: 20px;
    letter-spacing: 0.1rem;
  }

  .projects-section p{
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
 
  .projects-section .container{
    padding-bottom: 78px;
  }
  .projects-section img{
    height: 400px !important;
  }
  .projects-section .mx-3{
    color: #fff;
    font-size: 18px;
  }
  
  .projects-section .mx-3:hover{
    color: #9c9c9c;
    text-decoration: none;
  } 

}

/******* Contact section *******/
.contact-section {
  padding-top: 23px;
  padding-bottom: 123px;
  height: auto;
  width: 100%;
  background-color: #b1b1b1;
}

#contact{
  width: 100%;
}

.contact-section h2{
  text-align: left;
  color: #ffffffa2;
  font-size: 24px;
  padding-top: 23px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 46px !important;
  
}

.contact-section .d-flex .card-body{
  border: none;
  background-color: transparent;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.contact-section input, .contact-section textarea{
  border-radius: 5px 5px 5px 5px;
  font-family: "open_sansregular" !important;
  font-size: 16px !important;

}

.form-check-label{
  font-family: "open_sanslight";
  font-size: 12px;
}

.form-check-label a{
  font-family: "open_sanslight";
  color: #000000;
  font-weight: bold;
}

.contact-section button{
  font-family: 'open_sansregular';
  color: white;
  letter-spacing: 0.05em;
  font-size: 16px;
  background-color: #121212;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 5px 1px #0000003a;

}

@media (min-width: 992px){
  .contact-section {
    padding-top: 26px;
    padding-bottom: 152px;
  }
  
  .contact-section h2{
    font-size: 35px;
    letter-spacing: 0.1rem;
    line-height: 100%;
    padding-top: 26px;
    margin-bottom: 52px !important;
  }
  .contact-section input, .contact-section textarea{
    border-radius: 5px 5px 5px 5px;
    font-size: 20px !important;
  }
  .form-group label{
    font-size: 18px;
  }
  .contact-section button{
    font-size: 20px;
  }
}

/******* Footer *******/
footer {
  padding: 10px 0 50px 0;
  background-color: #121212;
  font-size: 12px;
  box-shadow: 0px 0px 5px #000;
}

a{
  text-decoration: none;
}

#legal:hover{
  text-decoration: none;
  color:#959FA6 !important;
}

.up a {
  font-size: 16px !important;
  text-align: center;
  width: 45px;
  background: #959fa6;
  color: #ffffff;
  line-height: 3rem;
  margin-bottom: -35px;
  position: relative;
  bottom: 36px !important;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px 1px #0000003a;
}

.up a:hover {
  color: #000000;
  background: #fff;
}

.up a:active {
  color:#000000;
}

footer .social a {
  font-size: 16px !important;
  text-align: center;
  width: 50px;
  background: rgb(149, 159, 166);
  color: #fff;
  line-height: 3.2rem;
  color: #fff;
  border-radius: 5px 5px 5px 5px;

}

footer .social a:hover {
  color: #000000;
  background: #fff;
}

footer .social a:active {
  color: #fff;
}

@media (min-width: 992px){
  footer {
    font-size: 12px;
  }
  .up a {
    font-size: 20px !important;
  }
  footer .social a {
    font-size: 20px !important;
  }
}

/******* Dividers styles *******/
.diagonal1 {
  display: block;
  width: 100%;
  height: 35px; /* Change the height */
  background: #212121; /* Top color */
  fill: #b1b1b1; /* Bottom color */
  outline: none;
}

.diagonal2 {
  display: block;
  width: 100%;
  height: 35px; /* Change the height */
  background: #b1b1b1; /* Top color */
  fill: #212121; /* Bottom color */
  outline: none;
}