/*!
 * Pablo Herrero's portfolio | Made with love by Pablo Herrero | pabloherrero.me
 * Copyright 2020 Pablo Herrero | MIT License
 */

 /* Fonts */
@font-face {
  font-family: 'open_sansregular';
  src: url('../css/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../css/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../css/fonts/opensanscondensed-bold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../css/fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open_sansregular';
  letter-spacing: 0.0625em;
}

h1 {
  font-family: 'open_sans_condensedbold';
}

/* Body */
body {
  font-family: 'open_sansregular';
  letter-spacing: 0.0625em;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}


/* Nav */
#mainNav {
  min-height: 56px;
  background-color: #fff;
  padding: 0 0 0 0;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #959FA6;
  border: 1px solid #959FA6;
  margin-right: 18px;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #000000;
  font-weight: 700;
  padding: .9rem 0;
  margin-left: 18px;
}


#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .nav-link {
  font-size: 14px;
  transition: none;
  padding: 1rem 1.5rem;
  color:#000000;
  background-color: rgba(149, 159, 166, 0.295);
}
#mainNav .nav-link:hover {
  color: #737373;
}
#mainNav .nav-link:active {
  color: #959FA6;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #959FA6;
  outline: none;
}

@media (min-width: 992px) {
  #mainNav{
  background-color: transparent;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color:#000000;
    margin-left: 48px;
    background-color: transparent;
  }

  #mainNav .collapse{
    margin-right: 48px;
  }
  #mainNav .nav-link {
    font-size: 16px;
    font-weight: 500;
    transition: none;
    padding: 2rem 1.5rem;
    color:#000000;
    
    
  }
  #mainNav .nav-link {
    background-color: transparent;
  }
  #mainNav.navbar-shrink {
    background-color: transparent;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000000;
    padding: 0.3rem 0.5rem 0.3rem;

    background-color: hsla(0, 0%, 95%, 0.486);
    border-radius: 5px 5px 5px 5px;



  }
  #mainNav.navbar-shrink .nav-link {
    color: #000000;
    padding: 0.5rem 1.5rem 0.5rem;
    margin-left: 25px;
    border-bottom: 0.25rem solid transparent;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 5px 5px 5px 5px;

  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #959FA6;
  }
 
  #mainNav.navbar-shrink .nav-link.active {
    color: rgb(255, 255, 255);
    outline: none;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px 5px 5px 5px;

  }
}

/* Masthead */
.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  background-color:#f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  width:100%;
  text-align: center;
  text-justify: inter-word;
  font-family: 'open_sans_condensedbold';
  font-size: 80px;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: 0.01rem;

  background-color: #000000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 1;
}

.masthead #nameWrapper{
  width: 90%;
}

.masthead h2 {
  text-align: center;
  text-justify: inter-word;
  font-size: 16px;
  font-weight: 500;

  color: #000000;
  letter-spacing: 0.2rem;
  z-index: 1;

}



@media (min-width: 768px) {
  .masthead #nameWrapper{
    width: 75%;
  }
  .masthead h1 {
    font-size: 130px !important;
    line-height: 6.4rem;
    letter-spacing: 0.1rem;
  }
  .masthead h2 {
    font-size: 16px;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 992px) {
  .masthead #nameWrapper{
    width: 50%;
  }

  .masthead h1 {
    font-size: 135px !important;
    line-height: 6.5rem;
    letter-spacing: 0.1rem;
  }
  .masthead h2 {
    font-size: 26px;
    letter-spacing: 0.3rem;
  }
}

 /* Arrow */
 @-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.arrow{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (min-width: 768px){
  .arrow{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;

}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/* /Arrow */

/* About section*/
.about-section {
  padding-top: 4.5rem;
  padding-bottom: 0.66rem;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}



.about-section img{
    text-align: center;
    z-index: 0;
    max-width: 55%;
    display: block;
    margin: auto auto;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #0000003a;
}


.about-section h1{
  text-align: justify;
  color: #ffffff;
  font-size: 46px;
  margin-bottom: 48px;
  letter-spacing: 0.1rem;

}

.about-section h2{
  font-family: "open_sansextrabold";
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin-top:1.2rem;
  letter-spacing: 0.1rem;
}

.about-section .col-sm-4 h2{
  color: #fff;
}

.about-section p{
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  max-width: 100%;
}


.about-section ul {
  list-style-type: none;
  padding: 0 0 0 0;
  font-family: 'open_sanslight';
  font-size: 16px;
}

.about-section li{
  color: rgb(255, 255, 255);
  
}

.about-section .col-sm-4{
  width: 100%;
}

#card1{
  background-color:  rgba(0, 0, 0, 0.562);
}

#card2{
  background-color:  rgba(0, 0, 0, 0.418);
}

#card3{
  background-color:  rgba(0, 0, 0, 0.322);
}

.about-section .d-flex{
  padding-top: 4.5rem;
}



.about-section .card h2{
  font-family: "open_sans_condensedbold";
  font-size: 16px;
  font-weight: 900;
  color: #000;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  #intro{
    width: 70%;
  }
  .about-section h2{
    text-align: justify;
  }
  
  .about-section p{
    text-align: justify;
  }
  .about-section img{
    max-width: 35%;
  }

  .about-section .d-flex{
    padding-top: 0.5rem;
    padding-bottom: 60px;
  }

  #card1{
    box-shadow: 0px 25px 0px rgba(0, 0, 0, 0.562);
  }
  
  #card2{
    box-shadow: 0px 50px 0px rgba(0, 0, 0, 0.418);
  }
  
  #card3{
    box-shadow: 0px 100px 0px rgba(0, 0, 0, 0.322);
  }
}

@media (min-width: 992px){
  #intro{
    padding-bottom: 15px;
  }

  .about-section h1{
    text-align: left;
    font-size: 60px;
  }

  .about-section h2{
    text-align: justify;
    font-size: 26px;
    
  }

  .about-section p{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 1.5rem;
  }
  
  .about-section img{
    max-width: 25%;
  }
  .about-section ul {
    font-size: 20px;
  }
  
  .about-section .card h2{
    font-size: 20px;
    letter-spacing: 0.0625em;
  }

  .about-section .col-sm-4{
    min-height: 60vh;
  }


  .about-section .d-flex{
    padding-top: 2.5rem;
    padding-bottom: 60px;
  }
}

/* Portfolio section */
.projects-section {
  padding: 8.5rem 0 0.66rem 0;
  height: auto;
  width: 100%;
  background-color: #F2F2F2 !important;
}

#portfolio{
  width: 90%;
}

.projects-section h1{
  text-align: center;
  color: #000000;
  font-size: 66px;
  margin-bottom: 48px;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
}

.projects-section h2{
  color: #fff;
  font-family: "open_sans_condensedbold";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  letter-spacing: 0.1rem;

}

.projects-section h2:hover{
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}

.projects-section img{
  width: 100%;
  height: 200px !important;
  object-fit: cover;
  border-width: 0px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0px 0px 20px 1px #0000003a;
}

.img-holder {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000c2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .4s ease;
}

.img-holder:hover .overlay {
  opacity: 1;
}

@media (min-width: 768px) {
  #portfolio{
    width: 70%;
  }
  .projects-section img{
    height: 400px !important;
  }
}

@media (min-width: 992px){
  #portfolio{
    width: 90%;
  }

  .projects-section .flex-column{
    margin-top: 0px !important;
  }

  .projects-section h1{
    font-size: 100px;
    letter-spacing: 0.1rem;
    line-height: 5.2rem;
  }
  
  .projects-section h2{
    font-size: 20px;
    letter-spacing: 0.1rem;
  }

  .projects-section img{
    height: 400px !important;
  }

}

/* Contact section */
.contact-section {
  padding-top: 4.5rem;
  padding-bottom: 3.5rem;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
}

#contact{
  width: 90%;
}

.contact-section h1{
  text-align: center;
  color: #000;
  font-size: 66px;
  margin-bottom: 48px;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
}

.contact-section .card .card-body{
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px 1px #0000003a;
  margin: 0 0 0 0;
}

.contact-section input, .contact-section textarea{
  border-radius: 15px 15px 15px 15px;
  font-family: "open_sansregular" !important;
  font-size: 16px !important;
}

.form-check-label{
  font-family: "open_sanslight";
  font-size: 12px;
}

.form-check-label a{
  font-family: "open_sanslight";
  color: #000000;
  font-weight: bold;
}

.contact-section .card{
  background-color: white;
  margin: 0 0 0 0;
  padding-bottom: 0px;
  width: 100%;
}

.contact-section button{
  font-family: 'open_sans_condensedbold';
  color: white;
  letter-spacing: 0.0725em;
  font-size: 16px;
  background-color: #959FA6;
  border-radius: 15px 15px 15px 15px;
}

@media (min-width: 992px){
  .contact-section h1{
    font-size: 100px;
    letter-spacing: 0.1rem;
    line-height: 5.2rem;
  }
  .contact-section input, .contact-section textarea{
    border-radius: 15px 15px 15px 15px;
    font-size: 20px !important;
  }
  .form-group label{
    font-size: 16px;
  }
}

/* Footer */
footer {
  padding: 10px 0 50px 0;
  background-color: #1A1A1A;
  font-size: 12px;
}



a{
  text-decoration: none;
}

#legal:hover{
  text-decoration: none;
  color:#959FA6 !important;
}

.up a {
  font-size: 16px !important;
  text-align: center;
  width: 45px;
  background: rgb(149, 159, 166);
  color: #000000;
  line-height: 3rem;
  color:#000000;
  margin-bottom: -35px;
  position: relative;
  bottom: 36px !important;
  border-radius: 5px 5px 5px 5px;

}

.up a:hover {
  color: #000000;
  background: #fff;
}

.up a:active {
  color:#000000;
}

footer .social a {
  font-size: 16px !important;
  text-align: center;
  width: 50px;
  background: rgb(149, 159, 166);
  color: #fff;
  line-height: 3.2rem;
  color: #fff;
  border-radius: 5px 5px 5px 5px;

}

footer .social a:hover {
  color: #000000;
  background: #fff;
}

footer .social a:active {
  color: #fff;
}

@media (min-width: 992px){
  footer {
    font-size: 16px;
  }
  .up a {
    font-size: 20px !important;
  }
  footer .social a {
    font-size: 20px !important;
  }
}