/*!
 * Pablo Herrero's portfolio | Made with love by Pablo Herrero | pabloherrero.me
 * Copyright 2020 Pablo Herrero | MIT License
 */

 /* Fonts */
 @font-face {
  font-family: 'one_dayregular';
  src: url('../css/fonts/oneday-webfont.woff2') format('woff2'),
       url('../css/fonts/oneday-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../css/fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../css/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../css/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../css/fonts/opensanscondensed-bold-webfont.woff2') format('woff2'),
       url('../css/fonts/opensanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../css/fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../css/fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open_sansregular';
  letter-spacing: 0.0625em;
}

h1 {
  font-family: 'open_sans_condensedbold';
}

/* Body */
body {
  font-family: 'open_sansregular';
  letter-spacing: 0.0625em;
}

/* Dividers */
.diagonal1 {
  display: block;
  width: 100%;
  height: 35px;
  background: #F2F2F2;
  outline: none;
}

.diagonal2 {
  display: block;
  width: 100%;
  height: 35px;
  background: #000000;
  fill: #F2F2F2;
  outline: none;
}

polygon {
  outline: none !important;
}

/* Nav */
#mainNav {
  min-height: 56px;
  background-color: #fff;
  padding: 0 0 0 0;
  border-bottom: none;
  transition: background-color 0.3s ease-in-out;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #959FA6;
  border: 1px solid #959FA6;
  margin-right: 18px;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #000000;
  font-weight: 700;
  padding: .9rem 0;
  margin-left: 18px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .nav-link {
  font-size: 14px;
  transition: none;
  padding: 1rem 1.5rem;
  color:#000000;
  background-color: rgba(149, 159, 166, 0.295);
}
#mainNav .nav-link:hover {
  color: #737373;
}
#mainNav .nav-link:active {
  color: #959FA6;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #959FA6;
  outline: none;
}

@media (min-width: 992px) {
  #mainNav{
  background-color: transparent;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color:#000000;
    margin-left: 48px;
  }

  #mainNav .collapse{
    margin-right: 48px;
  }
  #mainNav .nav-link {
    font-size: 16px;
    transition: none;
    padding: 2rem 1.5rem;
    color:#000000;
  }
  #mainNav .nav-link {
    background-color: transparent;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #959FA6;
  }
 
  #mainNav.navbar-shrink .nav-link.active {
    color: #959FA6;
    outline: none;
  }
}

/* Masthead */
.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: #F2F2F2;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  width:100%;
  text-align: center;
  font-family: 'one_dayregular';
  font-size: 60px;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  background-color: #000000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  text-align: center;
  max-width: 60rem;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.2rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 70px !important;
    line-height: 6.5rem;
    letter-spacing: 0.4rem;
  }
  .masthead h2 {
    font-size: 16px;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 95px !important;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 21rem;
    font-size: 26px;
    letter-spacing: 0.3rem;
  }
}

 /* Arrow */
 @-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.arrow{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 768px){
  .arrow{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;

}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/* /Arrow */

/* About section*/
.about-section {
  padding-top: 3.5rem;
  padding-bottom: 0.66rem;
  height: auto;
  width: 100%;
  background-color: #000000;
}

.about-section h1{
  color: #fff;
  font-size: 46px;
  margin-bottom: 48px;
}

.about-section h2{
  font-family: "open_sansextrabold";
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  margin-top:1.2rem;
  letter-spacing: 0.1rem;
}

.about-section p{
  font-size: 16px;
  color: #fff;
  text-align: left;
  max-width: 100%;
}

.about-section img{
  max-width: 60%;
  border-radius: 50%;
}

.about-section ul {
  list-style-type: none;
  padding: 0 0 0 0;
  font-family: 'open_sanslight';
  font-size: 16px;
}

.about-section li{
  color: rgb(0, 0, 0);
}

.about-section .card{
  background-color: #F2F2F2;
  border-radius: 15px 15px 15px 15px;

}
.about-section .card h2{
  font-family: "open_sans_condensedbold";
  font-size: 16px;
  font-weight: 900;
  color: #000000;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .about-section h2{
    text-align: right;
  }
  
  .about-section p{
    text-align: right;
  }
  .about-section img{
    max-width: 80%;
    border-radius: 50%;
  }
}

@media (min-width: 992px){
  .about-section h1{
    color: #fff;
    font-size: 60px;
  }
  .about-section h2{
    text-align: right;
    font-size: 26px;
  }
  
  .about-section p{
    text-align: right;
    font-size: 20px;
  }
  
  .about-section img{
    max-width: 60%;
    border-radius: 50%;
  }
  .about-section ul {
    font-size: 20px;
  }
  
  .about-section .card h2{
    font-size: 20px;
    letter-spacing: 0.0625em;
  }

  .card-deck{
    margin-top: 50px !important;
  }
}

/* Portfolio section */
.projects-section {
  padding: 3.5rem 0 0.66rem 0;
  height: auto;
  width: 100%;
  background-color: #F2F2F2 !important;
}

.projects-section h1{
  color: #000000;
  font-size: 46px;
  margin-bottom: 48px;
}

.projects-section h2{
  color: #fff;
  font-family: "open_sans_condensedbold";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.projects-section h2:hover{
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}

.projects-section img{
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}

.img-holder {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 15px 15px;
  opacity: 0;
  transition: .4s ease;
}

.img-holder:hover .overlay {
  opacity: 1;
}

@media (min-width: 992px){
  .projects-section .flex-column{
    margin-top: 0px !important;
  }

  .projects-section h1{
    font-size: 60px;
  }
  
  .projects-section h2{
    font-size: 20px;
  }
}

/* Contact section */
.contact-section {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  height: auto;
  width: 100%;
  background-color: #000000;
}

.contact-section h1{
  color: #ffffff;
  font-size: 46px;
  margin-bottom: 48px;
}

.contact-section .card-body{
  background-color: #F2F2F2;
}

.contact-section input, .contact-section textarea{
  border-radius: 15px 15px 15px 15px;
  font-family: "open_sansregular" !important;
  font-size: 16px !important;
}

.form-check-label{
  font-family: "open_sanslight";
  font-size: 12px;
}

.form-check-label a{
  font-family: "open_sanslight";
  color: #000000;
  font-weight: bold;
}

.contact-section .card{
  background-color: white;
  margin: 0 0 0 0;
  padding-bottom: 0px;
  width: 100%;
}

.contact-section button{
  font-family: 'open_sans_condensedbold';
  color: white;
  letter-spacing: 0.0725em;
  font-size: 16px;
  background-color: #959FA6;
  border-radius: 15px 15px 15px 15px;
}

@media (min-width: 992px){
  .contact-section h1{
    font-size: 60px;
  }
  .contact-section input, .contact-section textarea{
    border-radius: 15px 15px 15px 15px;
    font-size: 20px !important;
  }
  .form-group label{
    font-size: 16px;
  }
}

/* Footer */
footer {
  padding: 10px 0 50px 0;
  background-color: #1A1A1A;
  font-size: 12px;
}

a{
  text-decoration: none;
}

#legal:hover{
  text-decoration: none;
  color:#959FA6 !important;
}

.up a {
  font-size: 16px !important;
  text-align: center;
  width: 45px;
  background: #F2F2F2;
  color: #000000;
  line-height: 3rem;
  color:#000000;
  margin-bottom: -35px;
  position: relative;
  bottom: 36px !important;
  border-radius: 15px 15px 15px 15px;
}

.up a:hover {
  color: #000000;
  background: #fff;
}

.up a:active {
  color:#000000;
}

footer .social a {
  font-size: 16px !important;
  text-align: center;
  width: 50px;
  background: #959FA6;
  color: #fff;
  line-height: 3.2rem;
  color: #fff;
  border-radius: 15px 15px 15px 15px;
}

footer .social a:hover {
  color: #000000;
  background: #fff;
}

footer .social a:active {
  color: #fff;
}

@media (min-width: 992px){
  footer {
    font-size: 16px;
  }
  .up a {
    font-size: 20px !important;
  }
  footer .social a {
    font-size: 20px !important;
  }
}