/* Fonts */
@font-face {
    font-family: 'fira_coderegular';
    src: url('fonts/firacode-regular-webfont.woff2') format('woff2'),
         url('fonts/firacode-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_codebold';
    src: url('fonts/firacode-bold-webfont.woff2') format('woff2'),
         url('fonts/firacode-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_codemedium';
    src: url('fonts/firacode-medium-webfont.woff2') format('woff2'),
         url('fonts/firacode-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    font-family: 'fira_coderegular';
    letter-spacing: normal;
    overflow-y: scroll;
    background-color:#ffffff;
}
  
body::-webkit-scrollbar {
    display: none;
}

/* Navbar */
#navbar {
    min-height: 56px;
    background-color: transparent;
    border-bottom: none;
}

#navbar .navbar-toggler {
    color: #000000;
}

#navbar .navbar-toggler:focus {
    outline: none;
}

#navbar .nav-link {
    font-size: 14px;
    padding: 1rem 1.5rem;
    text-align: center;
    color:#ffffff;
    background-color: #000000;
    outline: none;
}

#navbar .nav-link:hover {
    color: #bd93f9;
    outline: none;
}

#navbar .nav-link:active {
    color: #50fa7b;
    outline: none;
}

@media (min-width: 992px) {
    #navbar .nav-link {
        font-size: 14px;
        padding: 0.5rem 1.5rem 0.5rem;
        color:#000000;
        background-color: transparent;
    }

    #navbar .nav-link:hover {
        background-color: #000000;
    }
}

  


/* Header */

/* About */

/* Recent works */

/* Contact */

/* Footer */