<!-- About -->
<section id="about">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="row animate__animated animate__fadeIn animate__faster">
            <div class="col-sm-12 align-self-center">
                <ngx-typed-js [strings]=typedStrings [shuffle]="false" [startDelay]="250" 
                    [typeSpeed]="90" [backSpeed]="60" [loop]="false" [showCursor]="true"> 
                    <h2>Hi! <span class="typing draculaGreen"></span></h2>
                </ngx-typed-js>
            </div>
            <div class="col-sm-12 align-self-center">
                <p>I love working with frameworks like Spring, Angular, React, React Native or Flutter, 
                    although I'm always digging deeper and learning new things.</p>
                <p>Here you can take a look at my 
                    <span class="draculaPurple" routerLink="/works" routerLinkActive="active">works</span> 
                    and drop me a line with the 
                    <span class="draculaPurple" routerLink="/contact" routerLinkActive="active">contact</span> 
                    form if you wish.</p>
            </div>
        </div>
    </div>
</section>