<!-- Footer -->
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6 align-self-center animate__animated animate__fadeInLeft">
                <small id="copy">&copy; 2021 Pablo Herrero</small>
            </div>
            <div class="col-sm-12 col-lg-6 align-self-center animate__animated animate__fadeInRight">
                <div id="social">
                    <a href="https://twitter.com/pablohs1986" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://dev.to/pablohs1986" target="_blank"><i class="fab fa-dev"></i></a>
                    <a href="https://es.stackoverflow.com/users/149406/pablohs1986?tab=profile" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                    <a href="https://github.com/pablohs1986" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/pabloherrero1986/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>