/* Works */
#works {
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
}

#works .container {
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

#works h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-family: "fira_codemedium";
    font-size: 32px;
    color: #282a36;
    letter-spacing: 0.05rem;
}

.projects {
    flex-direction: column; /* Cambia el sentido en versión móvil */
}

.project {
    outline: none;
}

#works a {
    color: #282a36;
    text-decoration: unset;
    outline: none;
}

#works i {
    font-size: 26px;
    color: #282a36;
}

#works .link:hover,
.git:hover,
i:hover {
    color: #bd93f9;
}

#works .link:active,
.git:active {
    color: #50fa7b;
}

@media (min-width: 768px) {
    #works {
        margin-top: 0vh;
    }

    #works .container {
        padding-top: 6vh;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        flex: 1 0 33%; /* Tamaño de las columnas flex */
    }
}

@media (min-width: 992px) {
    #works .container {
        padding-top: 3vh;
    }

    #works h2 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 36px;
    }
}
